{%extends 'index.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{product.image.url}}" alt="..."/>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.product_name}}</h5>
                        <!-- Product price-->
                        Rs {{product.price}}
                        <p>{{product.description}}</p>
                        <p>{{product.category}}</p>

                        <div><a href="{%url 'add-to-cart' product.id%}"><button type="submit" class="btn btn-info">ADD TO CART</button></a></div>


                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}